body
{
    background-color: #505050;
    margin: 18px 0 0 8px;
}

.all
{
    margin: 0 auto;
    width: 1420px;
}

header
{
    height: 137px;
    width: 1420px;
    position: relative;
}

header, .left_menu, .right_menu, .cluster, .box
{
    border-radius: 9px;
    box-shadow: 10px 10px 10px #000000;
    background-color: #909090;
}

.logo
{
    height: 110px;
    margin: 10px 0 0 10px;
}

.search
{
    position: absolute;
    top: 10px;
    right: 30px;
}

.delete, .refresh
{
    position: absolute;
    right: 10px;
    height: 20px;
    width: 20px;
}

.delete
{
    bottom: 10px;
}

.refresh
{
    top: 10px;
}

.left_menu
{
    width: 108px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 32px;
}

.left_menu img
{
    width: 70px;
    margin-bottom: 6px;
}

.right_menu img
{
    width: 70px;
    margin-bottom: 6px;
}

.frame
{
    border: 5px solid red;
    margin: -5px 0 1px -5px;
    border-radius: 5px;
}

.right_menu
{
    width: 105px;
    height: 410px;
    float: left;
    margin: 20px 0 0 30px;
    padding: 15px 0 0 35px;
}

.wall
{
    background-image: url('resources/brick.jpg');
    width: 120px;
    height: 70px;
    margin:-5px 0 0 -25px;
}

.right_menu img
{
    width: 70px;
    margin-bottom: 6px;
}

.cluster
{
    margin: 20px 0 0 30px;
    width: 1020px;
    height: 582px;
    float: left;
    position: relative;
}

.cluster img
{
    margin: 10px;
    width: 1000px;
    height: 562px;
}

.box
{
    background-color: #88ff89;
    width: 500px;
    height: 150px;
    position: absolute;
    bottom: -94px;
    left: -245px;
    padding: 10px;
    font-family: arial;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}

.big
{
    font-family: Times;
    font-size: 31px;
}

.shadow
{
    text-shadow: 4px 4px 4px #ff0000;
}

.italic
{
    font-style: italic;
}

.box form
{
    height: 22px;
}

.box input[type="text"]
{
    margin-left: 2px;
    width: 376px;
    border: 2px solid #9d969d;
    border-bottom-color: #eeeeee;
    border-right-color: #eeeeee;
    height: 15px;
}

.box input[type="submit"]
{
    border: 1px solid #a8a4a5;
    background-color: #f4eff3;
    margin-left: 4px;
    height: 22px;
    font-size:12px;
    background-color: #f0f0f0;
    font-weight: 500;
}
